@model UserDetail
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @Html.DisplayFor(model => model.UserdetailId)
</p>
<p>
    @Html.DisplayFor(model => model.UserName)
</p>
<p>
    @Html.DisplayFor(model => model.UserImageUrl)
</p>