@model ApplicationUser

@{
    ViewData["Title"] = "Edit";
    var Photopath = "~/Images/" + (Model.ImageUrl ?? "noimage.png");
}

<h1>Edit</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="UserProfile" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />


            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />

            </div>

            <div class="form-group">
                <img style="width:100px; height:100px; object-fit: cover;" src="@Photopath" asp-append-version="true" /><br />
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" type="file" />

            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

