@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>ForgotPassword</h1>

<h1>Login</h1>

<form asp-controller="Account" asp-action="ForgotPassword" method="post">
    UserEmail : <input type="text" asp-for="UserEmail" /> <br />
   
    <input type="submit" value="ResetPassword" />
</form>

<h2>@ViewBag.Msg</h2>