
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

<h1>ResetPassword</h1>



<form asp-controller="Account" asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="UserId"/>
    <input type="hidden" asp-for="Token"/>
    Password : <input type="text" asp-for="Password" /> <br />
    Confirm Password : <input type="password" asp-for="Password" /> <br />
   
    <input type="submit" value="ResetPassword" />
</form>
@ViewBag.Msg