@model SingleDetailViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Please complet your Profile here</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="SingleDetail" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" class="form-control" />
          

            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Photo"></label>
                <input asp-for="Photo" type="file" />

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>