
@{
    ViewData["Title"] = "Index";
}

@*<p>
    Sailor Blue (#00203FFF) and Mint (#ADEFD1FF)
    Black (#101820FF) and Orange (#F2AA4CFF)
    Royal Purple (#603F83FF) and Ice Flow (#C7D3D4FF)
    Island Green (#2BAE66FF) and White (#FCF6F5FF)
    Space Cherry (#990011FF) and White (#FCF6F5FF)
    Pink (#FAEBEFFF) and Navy Blue (#333D79FF)
    Dark Green (#006B38FF) and Black (#101820FF)
</p>*@

<div class="row mt-3">
    <div class="container">
        <div class="wrapper">
            <div class="inner-wrapper">
                <div class="row">
                    <div class="col-md-6 d-flex align-items-center">
                        <h5><span><i class="fas fa-address-card icon-color"></i></span>Membership Plans</h5>

                    </div>
                    <div class="col-md-6 text-center">
                        <a class="btn m-btn ">Add Membership <span><i class="fas fa-plus m-btn-color"></i></span></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">

                        <table class="table ">
                            <thead>
                                <tr class="nav-color">
                                    <th scope="col">Id</th>
                                    <th scope="col">Membership Type</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Monthly</td>
                                    <td>1500</td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn m-btn dropdown-toggle" data-toggle="dropdown">
                                                Actions
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#"><span><i class="fas fa-edit icon-color"></i></span>Edit</a>
                                                <a class="dropdown-item" href="#"><span><i class="far fa-trash-alt icon-color"></i></span>Delete</a>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Quaterly</td>
                                    <td>6000</td>
                                    <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn m-btn dropdown-toggle" data-toggle="dropdown">
                                            Actions
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#"><span><i class="fas fa-edit icon-color"></i></span>Edit</a>
                                            <a class="dropdown-item" href="#"><span><i class="far fa-trash-alt icon-color"></i></span>Delete</a>

                                        </div>
                                    </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Half yearly</td>
                                    <td>12000</td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn m-btn dropdown-toggle" data-toggle="dropdown">
                                                Actions
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#"><span><i class="fas fa-edit icon-color"></i></span>Edit</a>
                                                <a class="dropdown-item" href="#"><span><i class="far fa-trash-alt icon-color"></i></span>Delete</a>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Yearly</td>
                                    <td>13500</td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn m-btn dropdown-toggle" data-toggle="dropdown">
                                                Actions
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#"><span><i class="fas fa-edit icon-color"></i></span>Edit</a>
                                                <a class="dropdown-item" href="#"><span><i class="far fa-trash-alt icon-color"></i></span>Delete</a>

                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

